{%extends 'layout.htm'%} {% import "bootstrap/wtf.html" as wtf %} {%block page_content%}
<img id='background-img' src="{{url_for('static',filename='images/Path.png')}}">
<!-- {{wtf.quick_form(form)}} -->
<div class='wrapper'>
    <form method='POST' action=''>
        {{form.hidden_tag()}}


        <legend class='signup'>RESET
        </legend>
        <div>

            {{form.email.label(class='input-label')}} {{form.email(class='inputs')}}

        </div>

        <div>
            {{form.submit(class='button')}}
        </div>

    </form>

</div>
{%endblock%}